[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
absl-py = "==0.7.1"
astor = "==0.8.0"
astroid = "==2.2.5"
atomicwrites = "==1.3.0"
attrs = "==19.1.0"
backcall = "==0.1.0"
bleach = "==3.1.0"
category-encoders = "==2.0.0"
colorama = "==0.4.1"
confuse = "==1.0.0"
decorator = "==4.4.0"
defusedxml = "==0.6.0"
entrypoints = "==0.3"
gast = "==0.2.2"
google-pasta = "==0.1.7"
graphviz = "==0.11.1"
grpcio = "==1.22.0"
h5py = "==2.9.0"
htmlmin = "==0.1.12"
importlib-metadata = "==0.18"
ipykernel = "==5.1.1"
ipython = "==7.6.1"
ipywidgets = "==7.5.0"
isort = "==4.3.21"
jedi = "==0.14.1"
joblib = "==0.13.2"
jsonschema = "==3.0.1"
jupyter = "==1.0.0"
jupyter-client = "==5.3.1"
jupyter-core = "==4.5.0"
jupyterthemes = "==0.20.0"
kiwisolver = "==1.1.0"
lazy-object-proxy = "==1.4.1"
lesscpy = "==0.13.0"
llvmlite = "==0.29.0"
matplotlib = "==3.1.1"
mccabe = "==0.6.1"
missingno = "==0.4.2"
mistune = "==0.8.4"
more-itertools = "==7.1.0"
nbconvert = "==5.5.0"
nbformat = "==4.4.0"
notebook = "==6.0.0"
numba = "==0.44.1"
numpy = "==1.16.4"
pandas = "==0.24.2"
pandas-profiling = "==2.1.2"
pandocfilters = "==1.4.2"
parso = "==0.5.1"
patsy = "==0.5.1"
phik = "==0.9.8"
pickleshare = "==0.7.5"
pluggy = "==0.12.0"
ply = "==3.11"
protobuf = "==3.9.0"
py = "==1.8.0"
pylint = "==2.3.1"
pyparsing = "==2.4.0"
pyrsistent = "==0.15.3"
pytest = "==5.0.1"
pytest-pylint = "==0.14.1"
python-dateutil = "==2.8.0"
pytz = "==2019.1"
pywinpty = "==0.5.5"
pyzmq = "==18.0.2"
qtconsole = "==4.5.1"
scikit-learn = "==0.21.2"
scipy = "==1.3.0"
seaborn = "==0.9.0"
six = "==1.12.0"
statsmodels = "==0.10.0"
tb-nightly = "==1.14.0a20190603"
tensorflow-gpu = "==2.0.0b1"
termcolor = "==1.1.0"
terminado = "==0.8.2"
testpath = "==0.4.2"
tf-estimator-nightly = "==1.14.0.dev2019060501"
tornado = "==6.0.3"
traitlets = "==4.3.2"
typed-ast = "==1.4.0"
wcwidth = "==0.1.7"
webencodings = "==0.5.1"
widgetsnbextension = "==3.5.0"
wrapt = "==1.11.2"
xgboost = "==0.90"
zipp = "==0.5.2"
ipython_genutils = "==0.2.0"
Jinja2 = "==2.10.1"
jupyter_console = "==6.0.0"
Keras-Applications = "==1.0.8"
Keras-Preprocessing = "==1.1.0"
Markdown = "==3.1.1"
MarkupSafe = "==1.1.1"
prometheus_client = "==0.7.1"
prompt_toolkit = "==2.0.9"
Pygments = "==2.4.2"
PyYAML = "==5.1.1"
Send2Trash = "==1.5.0"
Werkzeug = "==0.15.4"
Cycler = "==0.10.0"

[requires]
python_version = "3.7"
