[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
jupyter = "*"
coverage = "*"
coveralls = "*"
ipykernel = "*"

[packages]
category-encoders = "==2.2.2"
pandas = "==1.2.4"
scikit-learn = "==0.24.2"
xgboost = "==1.4.2"
python-dotenv = "*"
pyarrow = "*"
tensorflow = "*"
pmdarima = "*"
seaborn = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
