[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
coverage = "*"
coveralls = "*"
ipykernel = "*"
isort = "*"

[packages]
pandas = "==1.2.4"
scikit-learn = "==0.24.2"
xgboost = "==1.4.2"
python-dotenv = "*"
tensorflow = "==2.5.0"
pmdarima = "==1.8.2"
hydra-core = "*"
seaborn = "*"
wandb = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
